<nav
      class="navbar navbar-expand-lg navbar-dark"
      style="background-color: #50a85e"
    >
      <div class="container">
        <a href="/" class="navbar-brand"
          ><i class="fa-solid fa-dumbbell"></i> FitLife</a
        >

        <ul class="navbar-nav">
          <li class="nav-item">
            <a href="/trainers" class="nav-link">Trainers</a>
          </li>
          <li class="nav-item">
            <a href="/signup" class="nav-link">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="signin" class="nav-link">Sign In</a>
          </li>
          <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
          <li class="nav-item">
            <a href="/contact" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </nav>