{% extends "layout.html" %}

{% block pageTitle %} My Diet {% endblock %}

{% block content %}
<div class="container mt-5" style="background-color: #f1f1f1;">
  <h1>Input for Current Infos</h1>
  <div class="mt-4">
    <h2>Student Info</h2>
    <form action="{% url 'user_diet' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="form_type" value="current_info">
      <table class="table">
        <thead>
          <tr>
            <th>Weight</th>
            <th>Height</th>
            <th>Body Fat Percentage</th>
            <th>Muscle Mass Kilogram</th>
            <th>Body Mass Index</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="form-group">
                <input type="number" class="form-control" id="weight" name="weight">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="number" class="form-control" id="height" name="height">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="number" class="form-control" id="body_fat_percentage" name="body_fat_percentage">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="number" class="form-control" id="muscle_mass_kg" name="muscle_mass_kg">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="number" class="form-control" id="bmi" name="bmi">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn" style="background: #50a85e; margin-top:10px; color: white;">Add Current Infos</button>
    </form>
  </div>
</div>
{% endblock %}

{% block style %}
<style>

  body{
    background-color: #f1f1f1;
  }

  .main-footer {
    text-align: center;
    background: #50a85e;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
    width: 100%; /* Make the footer span the entire width */
  }
</style>
{% endblock %}
