{% extends "layout.html" %}

{% block pageTitle %} My Diet {% endblock %}

{% block content %}
<div class="container mt-5" style="background-color: #f1f1f1;">
  <h1>Input for Current Infos</h1>
  <div class="mt-4">
    <h2>Student Info</h2>
    <form action="{% url 'user_diet' %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="form_type" value="current_info">
      <table class="table">
        <thead>
          <tr>
            <th>Weight (Kg)</th>
            <th>Height (Cm)</th>
            <th>Body Fat Percentage (%)</th>
            <th>Muscle Mass Kilogram (Kg)</th>
            <th>Body Mass Index (%)</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="form-group">
                <input type="number" class="form-control" id="weight" name="weight">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="number" class="form-control" id="height" name="height">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="number" class="form-control" id="body_fat_percentage" name="body_fat_percentage">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="number" class="form-control" id="muscle_mass_kg" name="muscle_mass_kg">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="number" class="form-control" id="bmi" name="bmi">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn" style="background: #50a85e; margin-top:10px; color: white;">Add Current Infos</button>
    </form>
  </div>

  <div class="mt-4">
    <h2>Current Exercise Program</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Movement Name</th>
          <th>Set Value</th>
          <th>Repeat Value</th>
          <th>Day</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{user_extra.exercise_plan.monday.name}}</td>
          <td>{{user_extra.exercise_plan.monday.set_value}}</td>
          <td>{{user_extra.exercise_plan.monday.repeat_value}}</td>
          <td>Monday</td>
        </tr>
        <tr>
          <td>{{user_extra.exercise_plan.tuesday.name}}</td>
          <td>{{user_extra.exercise_plan.tuesday.set_value}}</td>
          <td>{{user_extra.exercise_plan.tuesday.repeat_value}}</td>
          <td>Tuesday</td>
        </tr>
        <tr>
          <td>{{user_extra.exercise_plan.wednesday.name}}</td>
          <td>{{user_extra.exercise_plan.wednesday.set_value}}</td>
          <td>{{user_extra.exercise_plan.wednesday.repeat_value}}</td>
          <td>Wednesday</td>
        </tr>
        <tr>
          <td>{{user_extra.exercise_plan.thursday.name}}</td>
          <td>{{user_extra.exercise_plan.thursday.set_value}}</td>
          <td>{{user_extra.exercise_plan.thursday.repeat_value}}</td>
          <td>Thursday</td>
        </tr>
        <tr>
          <td>{{user_extra.exercise_plan.friday.name}}</td>
          <td>{{user_extra.exercise_plan.friday.set_value}}</td>
          <td>{{user_extra.exercise_plan.friday.repeat_value}}</td>
          <td>Friday</td>
        </tr>
        <tr>
          <td>{{user_extra.exercise_plan.saturday.name}}</td>
          <td>{{user_extra.exercise_plan.saturday.set_value}}</td>
          <td>{{user_extra.exercise_plan.saturday.repeat_value}}</td>
          <td>Saturday</td>
        </tr>
        <tr>
          <td>{{user_extra.exercise_plan.sunday.name}}</td>
          <td>{{user_extra.exercise_plan.sunday.set_value}}</td>
          <td>{{user_extra.exercise_plan.sunday.repeat_value}}</td>
          <td>Sunday</td>
        </tr>
        <tr>
          <th>Goal</th>
          <th>Starting Date</th>
          <th>Program Duration</th>
        </tr>
        <tr>
          <td>{{user_extra.exercise_plan.goal}}</td>
          <td>{{user_extra.exercise_plan.starting_date}}</td>
          <td>{{user_extra.exercise_plan.plan_duration}}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>
{% endblock %}

{% block style %}
<style>

  body{
    background-color: #f1f1f1;
  }

  .main-footer {
    text-align: center;
    background: #50a85e;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
    width: 100%; /* Make the footer span the entire width */
  }
</style>
{% endblock %}
