{% extends "layout.html" %}

{% block pageTitle %} Profile {% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-sm" style="background-color: #f1f1f1; border: none; text-align: center; padding: 20px;">
        <img src="{{ user_extra.profile_picture.url }}" alt="Profile Photo" class="card-img-top rounded-circle mx-auto" style="object-fit: cover; width: 150px; height: 150px;">
        <div class="card-body">
          <h5 class="card-title">{{ user.first_name }} {{ user.last_name }}</h5>
          <p class="card-text">{{ user.email }}</p>
          <p class="card-text">{{ user.phone_number }}</p>
          <p class="card-text">{{ user.username }}</p>
          <p class="card-text">{{ user.master_topic }}</p>
          <p class="card-text">{{ user.experience }}</p>
          <p class="card-text">{{ user.date_of_birth|date:'Y-m-d' }}</p>
          <p class="card-text">{{ user.gender }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      <h4>Update Profile</h4>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="first_name" class="form-label">First Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}"
            required>
        </div>
        <div class="mb-3">
          <label for="last_name" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
        </div>
        <div class="mb-3">
          <label for="phone_number" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ user.phone_number }}">
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
        </div>
        <div class="mb-3">
          <label for="master-topic" class="form-label">Master Topic</label>
          <input type="text" class="form-control" id="master-topic" name="master-topic" value="{{ user.master_topic }}">
        </div>
        <div class="mb-3">
          <label for="experience" class="form-label">Experience</label>
          <input type="text" class="form-control" id="experience" name="experience" value="{{ user.experience }}">
        </div>
        <div class="mb-3">
          <label for="date_of_birth" class="form-label">Date of Birth</label>
          <input type="date" class="form-control" id="date_of_birth" name="date_of_birth"
            value="{{ user.date_of_birth|date:'Y-m-d' }}">
        </div>
        <div class="mb-3">
          <label for="gender" class="form-label">Gender</label>
          <select class="form-select" id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
            
          </select>
        </div>
        <div class="mb-3">
          <label for="profile_photo" class="form-label">Profile Photo</label>
          <input type="file" class="form-control" id="profile_photo" name="profile_photo">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block style %}
<style>
  body {
    background-color: #f1f1f1;
  }

  .container {
    max-width: 960px;
  }

  .card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 0;
  }

  .form-label{
    color: #50a85e;
  }

  .btn {
    background-color: #50a85e;
    border: 1px solid #50a85e;
    border-radius: 10px;
    color: #ffffff;
  }

  .btn:hover {
    background-color: #3f893e;
    border-color: #3f893e;
  }

  .main-footer {
    text-align: center;
    background: #50a85e;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
  }
</style>
{% endblock %}