{% extends "layout.html" %}

{% block pageTitle %} Student Info {% endblock %}

{% block content %}
<div class="container mt-5">
  <h1>Make a Programs For {{student_extra.user.first_name}} {{student_extra.user.last_name}}</h1>
  <div class="mt-4">
    <h2>Student Info</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Weight (Kg)</th>
          <th>Height (Cm)</th>
          <th>Body Fat Percentage (%)</th>
          <th>Muscle Mass Kilogram (Kg)</th>
          <th>Body Mass Index (%)</th>
        </tr>
      </thead>
      <tbody>
        <td>{{student_current.weight_kg}}</td>
        <td>{{student_current.height_cm}}</td>
        <td>{{student_current.body_fat_percentage}}</td>
        <td>{{student_current.muscle_mass_kg}}</td>
        <td>{{student_current.bmi}}</td>
      </tbody>
    </table>
  </div>

   <div class="mt-4">
    <h2>Exercise Program</h2>
    <form method="post" action="{% url 'teachers_students_info' %}?student_id={{ student_extra.user.id }}">
      {% csrf_token %}
      <input type="hidden" name="form_type" value="exercise_form">
      <table class="table">
        <thead>
          <tr>
            <th>Days</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Exercise Name</th>
          <td>
            <div class="form-group">
            <select class="form-control" id="movement_type_monday" name="movement_type_monday">
              {% for movement in movements %}
                <option value="{{ movement.id }}">{{ movement.name }}</option>
              {% endfor %}
            </select>
            </div>
          </td>
          <td>
            <div class="form-group">
            <select class="form-control" id="movement_type_tuesday" name="movement_type_tuesday">
              {% for movement in movements %}
                <option value="{{ movement.id }}">{{ movement.name }}</option>
              {% endfor %}
            </select>
            </div>
          </td>
          <td>
            <div class="form-group">
            <select class="form-control" id="movement_type_wednesday" name="movement_type_wednesday">
              {% for movement in movements %}
                <option value="{{ movement.id }}">{{ movement.name }}</option>
              {% endfor %}
            </select>
            </div>
          </td>
          <td>
            <div class="form-group">
            <select class="form-control" id="movement_type_thursday" name="movement_type_thursday">
              {% for movement in movements %}
                <option value="{{ movement.id }}">{{ movement.name }}</option>
              {% endfor %}
            </select>
            </div>
          </td>
          <td>
            <div class="form-group">
            <select class="form-control" id="movement_type_friday" name="movement_type_friday">
              {% for movement in movements %}
                <option value="{{ movement.id }}">{{ movement.name }}</option>
              {% endfor %}
            </select>
            </div>
          </td>
          <td>
            <div class="form-group">
            <select class="form-control" id="movement_type_saturday" name="movement_type_saturday">
              {% for movement in movements %}
                <option value="{{ movement.id }}">{{ movement.name }}</option>
              {% endfor %}
            </select>
            </div>
          </td>
          <td>
            <div class="form-group">
            <select class="form-control" id="movement_type_sunday" name="movement_type_sunday">
              {% for movement in movements %}
                <option value="{{ movement.id }}">{{ movement.name }}</option>
              {% endfor %}
            </select>
            </div>
          </td>
        </tr>
        <tr>
          <th>Sets</th>
          <td>
            <div class="form-group">
              <input type="numeric" class="form-control" id="set_value_monday" name="set_value_monday">
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="numeric" class="form-control" id="set_value_tuesday" name="set_value_tuesday">
            </div>
          </td>
          <td><div class="form-group">
            <input type="numeric" class="form-control" id="set_value_wednesday" name="set_value_wednesday">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="numeric" class="form-control" id="set_value_thursday" name="set_value_thursday">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="numeric" class="form-control" id="set_value_friday" name="set_value_friday">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="numeric" class="form-control" id="set_value_saturday" name="set_value_saturday">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="numeric" class="form-control" id="set_value_sunday" name="set_value_sunday">
          </div>
        </td>
        </tr>
        <tr>
          <th>Repeat</th>
          <td>
            <div class="form-group">
              <input type="numeric" class="form-control" id="repeat_value_monday" name="repeat_value_monday">
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="numeric" class="form-control" id="repeat_value_tuesday" name="repeat_value_tuesday">
            </div>
          </td>
          <td><div class="form-group">
            <input type="numeric" class="form-control" id="repeat_value_wednesday" name="repeat_value_wednesday">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="numeric" class="form-control" id="repeat_value_thursday" name="repeat_value_thursday">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="numeric" class="form-control" id="repeat_value_friday" name="repeat_value_friday">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="numeric" class="form-control" id="repeat_value_saturday" name="repeat_value_saturday">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="numeric" class="form-control" id="repeat_value_sunday" name="repeat_value_sunday">
          </div>
        </td>
        </tr>
        <tr>
          <th>Calory</th>
          <td>
            <div class="form-group">
              <input type="numeric" class="form-control" id="calory_goal_monday" name="alory_goal_monday">
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="numeric" class="form-control" id="calory_goal_tuesday" name="alory_goal_tuesday">
            </div>
          </td>
          <td><div class="form-group">
            <input type="numeric" class="form-control" id="calory_goal_wednesday" name="alory_goal_wednesday">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="numeric" class="form-control" id="calory_goal_thursday" name="alory_goal_thursday">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="numeric" class="form-control" id="calory_goal_friday" name="alory_goal_friday">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="numeric" class="form-control" id="calory_goal_saturday" name="alory_goal_saturday">
          </div>
        </td>
        <td>
          <div class="form-group">
            <input type="numeric" class="form-control" id="calory_goal_sunday" name="alory_goal_sunday">
          </div>
        </td>
        </tr>
        </tbody>
      </table>
      <button type="submit" class="btn" style="background: #50a85e; margin-top:10px; margin-bottom:20px; color: white;">Add Exercise</button>
    </form>

    <form method="post" action="{% url 'teachers_students_info' %}?student_id={{ student_extra.user.id }}">
      {% csrf_token %}
      <input type="hidden" name="form_type" value="complate_exercise">
      <table class="table">
        <thead>
          <tr>
            <th>Exercise Plan Goal</th>
            <th>Starting Date</th>
            <th>Program Duration</th>
          </tr>
        </thead>
        <tbody>
          <td>
            <div class="form-group">
              <input type="text" class="form-control" id="plan_goal" name="plan_goal">
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="date" class="form-control" id="starting_date" name="starting_date">
            </div>
          </td>
          <td>
            <div class="form-group">
              <input type="text" class="form-control" id="program_duration" name="program_duration">
            </div>
          </td>
        </tbody>
      </table>
      <button type="submit" class="btn" style="background: #50a85e; margin-top:10px; color: white;">Complate Program</button>
    </form>
  </div>



  <div class="mt-4">
    <h2>Diet Program</h2>
    <form method="post" action="{% url 'teachers_students_info' %}?student_id={{ student_extra.user.id }}">
      {% csrf_token %}
      <input type="hidden" name="form_type" value="diet_plan">
      <table class="table">
        <thead>
          <tr>
            <th>Days</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Breakfast</th>
            <td>
              <div class="form-group">
                <select class="form-control" id="breakfast_monday" name="breakfast_monday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="breakfast_tuesday" name="breakfast_tuesday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="breakfast_wednesday" name="breakfast_wednesday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="breakfast_thursday" name="breakfast_thursday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="breakfast_friday" name="breakfast_friday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="breakfast_saturday" name="breakfast_saturday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="breakfast_sunday" name="breakfast_sunday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
          </tr>

          <tr>
            <th>Lunch</th>
            <td>
              <div class="form-group">
                <select class="form-control" id="lunch_monday" name="lunch_monday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="lunch_tuesday" name="lunch_tuesday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="lunch_wednesday" name="lunch_wednesday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="lunch_thursday" name="lunch_thursday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="lunch_friday" name="lunch_friday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="lunch_saturday" name="lunch_saturday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="lunch_sunday" name="lunch_sunday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
          </tr>

          <tr>
            <th>Dinner</th>
            <td>
              <div class="form-group">
                <select class="form-control" id="dinner_monday" name="dinner_monday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="dinner_tuesday" name="dinner_tuesday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="dinner_wednesday" name="dinner_wednesday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="dinner_thursday" name="dinner_thursday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="dinner_friday" name="dinner_friday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="dinner_saturday" name="dinner_saturday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="dinner_sunday" name="dinner_sunday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
          </tr>

          <tr>
            <th>Snacks</th>
            <td>
              <div class="form-group">
                <select class="form-control" id="snacks_monday" name="snacks_monday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="snacks_tuesday" name="snacks_tuesday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="snacks_wednesday" name="snacks_wednesday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="snacks_thursday" name="snacks_thursday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="snacks_friday" name="snacks_friday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="snacks_saturday" name="snacks_saturday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
            <td>
              <div class="form-group">
                <select class="form-control" id="snacks_sunday" name="snacks_sunday">
                  {% for food in foods %}
                    <option value="{{ food.id }}">{{ food.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </td>
          </tr>

          <tr>
            <th>Calories</th>
            <td>
              <div class="form-group">
                <input type="numeric" class="form-control" id="calories_monday" name="calories_monday">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="numeric" class="form-control" id="calories_tuesday" name="calories_tuesday">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="numeric" class="form-control" id="calories_wednesday" name="calories_wednesday">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="numeric" class="form-control" id="calories_thursday" name="calories_thursday">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="numeric" class="form-control" id="calories_friday" name="calories_friday">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="numeric" class="form-control" id="calories_saturday" name="calories_saturday">
              </div>
            </td>
            <td>
              <div class="form-group">
                <input type="numeric" class="form-control" id="calories_sunday" name="calories_sunday">
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <button type="submit" class="btn" style="background: #50a85e; margin-top:10px; margin-bottom:20px; color: white;">Add Diet Plan</button>
    </form>
  </div>
  

  <div class="mt-4">
    <h2>Current Exercise Program</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Movement Name</th>
          <th>Set Value</th>
          <th>Repeat Value</th>
          <th>Day</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{student_extra.exercise_plan.monday.name}}</td>
          <td>{{student_extra.exercise_plan.monday.set_value}}</td>
          <td>{{student_extra.exercise_plan.monday.repeat_value}}</td>
          <td>Monday</td>
        </tr>
        <tr>
          <td>{{student_extra.exercise_plan.tuesday.name}}</td>
          <td>{{student_extra.exercise_plan.tuesday.set_value}}</td>
          <td>{{student_extra.exercise_plan.tuesday.repeat_value}}</td>
          <td>Tuesday</td>
        </tr>
        <tr>
          <td>{{student_extra.exercise_plan.wednesday.name}}</td>
          <td>{{student_extra.exercise_plan.wednesday.set_value}}</td>
          <td>{{student_extra.exercise_plan.wednesday.repeat_value}}</td>
          <td>Wednesday</td>
        </tr>
        <tr>
          <td>{{student_extra.exercise_plan.thursday.name}}</td>
          <td>{{student_extra.exercise_plan.thursday.set_value}}</td>
          <td>{{student_extra.exercise_plan.thursday.repeat_value}}</td>
          <td>Thursday</td>
        </tr>
        <tr>
          <td>{{student_extra.exercise_plan.friday.name}}</td>
          <td>{{student_extra.exercise_plan.friday.set_value}}</td>
          <td>{{student_extra.exercise_plan.friday.repeat_value}}</td>
          <td>Friday</td>
        </tr>
        <tr>
          <td>{{student_extra.exercise_plan.saturday.name}}</td>
          <td>{{student_extra.exercise_plan.saturday.set_value}}</td>
          <td>{{student_extra.exercise_plan.saturday.repeat_value}}</td>
          <td>Saturday</td>
        </tr>
        <tr>
          <td>{{student_extra.exercise_plan.sunday.name}}</td>
          <td>{{student_extra.exercise_plan.sunday.set_value}}</td>
          <td>{{student_extra.exercise_plan.sunday.repeat_value}}</td>
          <td>Sunday</td>
        </tr>
        <tr>
          <th>Goal</th>
          <th>Starting Date</th>
          <th>Program Duration</th>
        </tr>
        <tr>
          <td>{{student_extra.exercise_plan.goal}}</td>
          <td>{{student_extra.exercise_plan.starting_date}}</td>
          <td>{{student_extra.exercise_plan.plan_duration}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock  %}

{% block style %}
<style>
  body {
    background-color: #f1f1f1;
  }

  .main-footer {
    text-align: center;
    background: #50a85e;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
  }
</style>
{% endblock  %}

