{% extends "layout.html" %}

{% block pageTitle %} Profile {% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card shadow-sm" style="background-color: #f1f1f1; border: none; text-align: center; padding: 20px;">
        {% if teacher_extra.profile_picture %}
          <img src="{{ teacher_extra.profile_picture.url }}" alt="Profile Photo" class="card-img-top rounded-circle mx-auto" style="object-fit: cover; width: 150px; height: 150px;">
        {% else %}
          <p>No Profile Picture Available</p>
        {% endif %}
      <div class="card-body">
        <h5 class="card-title">{{ teacher.first_name }} {{ teacher.last_name }}</h5>
        <p class="card-text">{{ teacher.email }}</p>
        <p class="card-text">{{ teacher.phone_number }}</p>
        <p class="card-text">{{ teacher.username }}</p>
        <p class="card-text">{{ teacher_extra.birth_date|date:'d-m-Y' }}</p>
        <p class="card-text">{{ teacher.gender }}</p>
      </div>
      </div>
    </div>
    <div class="col-md-8">
      <h4>Update Profile</h4>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="first_name" class="form-label">First Name</label>
          <input type="text" class="form-control" id="first_name" name="first_name" value="{{ teacher.first_name }}"
            required>
        </div>
        <div class="mb-3">
          <label for="last_name" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="last_name" name="last_name" value="{{ teacher.last_name }}" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="{{ teacher.email }}" required>
        </div>
        <div class="mb-3">
          <label for="phone_number" class="form-label">Phone Number</label>
          <input type="text" class="form-control" id="phone_number" name="phone_number" value="{{ teacher_extra.phone_number }}">
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" value="{{ teacher.username }}" required>
        </div>
        <div class="mb-3">
          <label for="master_topic" class="form-label">Master Topic</label>
          <input type="text" class="form-control" id="master_topic" name="master_topic" value="{{ teacher_extra.master_topic }}">
        </div>
        <div class="mb-3">
          <label for="experience" class="form-label">Experience</label>
          <input type="text" class="form-control" id="experience" name="experience" value="{{ teacher_extra.experience }}">
        </div>
        <div class="mb-3">
          <label for="birth_date" class="form-label">Date of Birth</label>
          <input type="date" class="form-control" id="birth_date" name="birth_date"
            value="{{ teacher_extra.birth_date|date:'Y-m-d' }}">
        </div>
        <div class="mb-3">
          <label for="gender" class="form-label">Gender</label>
          <select class="form-select" id="gender" name="gender">
            <option value="male" {% if teacher_extra.gender == 'male' %}selected{% endif %}>Male</option>
            <option value="female" {% if teacher_extra.gender == 'female' %}selected{% endif %}>Female</option>
            <option value="other" {% if teacher_extra.gender == 'other' %}selected{% endif %}>Other</option>
         </select>         
        </div>
        <div class="mb-3">
          <label for="profile_picture" class="form-label">Profile Photo</label>
          <input type="file" class="form-control" id="profile_picture" name="profile_picture">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block style %}
<style>
  body {
    background-color: #f1f1f1;
  }

  .container {
    max-width: 960px;
  }

  .card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 0;
  }

  .rounded-circle {
    border-radius: 50%;
  }

  .form-label{
    color: #50a85e;
  }

  .btn {
    background-color: #50a85e;
    border: 1px solid #50a85e;
    border-radius: 10px;
    color: #ffffff;
  }

  .btn:hover {
    background-color: #3f893e;
    border-color: #3f893e;
  }

  .main-footer {
    text-align: center;
    background: #50a85e;
    color: #FFFFFF;
    padding: 20px;
    margin-top: 10px;
  }
</style>
{% endblock %}